[Desktop Entry]
Name=HTOP
Terminal=false
Type=Application
Exec=xfce4-terminal --title="HTOP" --geometry=94x25-0-0 -e htop
Icon=utilities-system-monitor
